<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Daily Overtime Request Email, <%= @manager.full_name %></h1>
    <p>
      There are new overtime request for you to review.
      Please click this link to access them.<br>
    </p>
    <p>
      Link: <%= root_url %> 
    </p>
    <p>From the mailer robot.</p>
  </body>
</html>