
<div class='pending-home-page row'> 
    <h2>Items Pending Your Approval</h2>
    <hr>
    <%= render partial: 'pending_approval', locals: { pending_approvals: @pending_approvals } %>
            
</div>

<div class='pending-home-page'>
<p> TESTE SSSDASDAS </p>

</div>
