
<div class='pending-home-page row'> 
    <div class="homepage-block col-md-3">
         <p> TESTE SSSDASDAS </p>
    </div>
    <div class="homepage-block col-md-3">
            <p> TESTE SSSDASDAS </p>
    </div>
    <div class="homepage-block col-md-3">
            <p> TESTE SSSDASDAS </p>
    </div>
    <div class="homepage-block col-md-3">
            <p> TESTE SSSDASDAS </p>
    </div> 
    <div class="homepage-block col-md-3">
            <p> TESTE SSSDASDAS </p>
    </div>             
</div>

<div class='pending-home-page'>
<p> TESTE SSSDASDAS </p>

</div>
