@import "bootstrap-sprockets";
@import "bootstrap";
@import "gritter";
@import "bourbon";
@import "audit_logs.css";
@import "admin_homepage.css";
@import "employee_homepage.css";

body {
        background-color: gainsboro;
}

.index-icons {
    font-size: 1.5em;
}

.index-icons:hover {
    text-decoration: none;
    color: black;
}

.container {
    width: 75%;
    font-size: 12px;
    
}

.navbar {
    font-size: 12px;
}

.navbar li {
    font-size: 12px;
}